/*--- Avanquest WebEasy Page Style ---*/


.cc22               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc23               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc24               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc25               { /* Common */
	border          :   0.00pt none #ececec;
	}
.cc26               { /* Common */
	font            : bold 9pt 'Calibri';
	color           : #000000;
	}
.cc27               { /* Common */
	clip            : rect(0.00pt,12.75pt,12.75pt,0.00pt);
	}
.cc28               { /* Common */
	font            : 9pt 'Calibri';
	color           : #000000;
	}
.cc29               { /* Common */
	font            : 8pt 'Calibri';
	color           : #000000;
	}
span#e186           { /* pokemongo0040114.gif */
	background      : transparent url(pokemongo0040114.gif) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             : 312.00pt;
	width           : 558.75pt;
	height          :1800.00pt;
	}
span#e185           { /* pokemongo0040113.jpg */
	background      : transparent url(pokemongo0040113.jpg) no-repeat top left;
	position        : absolute;
	left            : 557.25pt;
	top             : 321.75pt;
	width           : 144.00pt;
	height          :  96.00pt;
	}
span#e184           { /* pokemongo0040112.jpg */
	background      : transparent url(pokemongo0040112.jpg) no-repeat top left;
	position        : absolute;
	left            : 290.25pt;
	top             : 434.25pt;
	width           : 435.00pt;
	height          : 351.00pt;
	}
span#e183           { /* pokemongo0040111.gif */
	background      : transparent url(pokemongo0040111.gif) no-repeat top left;
	position        : absolute;
	left            : 174.00pt;
	top             :   5.25pt;
	width           : 552.75pt;
	height          : 299.25pt;
	}
span#e182           { /* pokemongo002056.jpg */
	background      : transparent url(pokemongo002056.jpg) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             :   1.50pt;
	width           : 553.50pt;
	height          : 297.75pt;
	}
span#e181           { /* pokemongo0010148.jpg */
	background      : transparent url(pokemongo0010148.jpg) no-repeat top left;
	position        : absolute;
	left            : 272.25pt;
	top             :  46.50pt;
	width           : 357.75pt;
	height          : 201.75pt;
	}
span#e180           { /* pokemongo0040108.gif */
	background      : transparent url(pokemongo0040108.gif) no-repeat top left;
	position        : absolute;
	left            : 194.25pt;
	top             : 293.25pt;
	width           : 509.25pt;
	height          :  28.50pt;
	}
span#e179           { /* pokemongo0010118.jpg */
	background      : transparent url(pokemongo0010118.jpg) no-repeat top left;
	position        : absolute;
	left            : 473.25pt;
	top             : 196.50pt;
	width           : 102.75pt;
	height          :  65.25pt;
	}
span#e178           { /* pokemongo0040106.jpg */
	background      : transparent url(pokemongo0040106.jpg) no-repeat top left;
	position        : absolute;
	left            : 179.25pt;
	top             : 332.25pt;
	width           : 271.50pt;
	height          :  58.50pt;
	}
span#e177           { /* pokemongo0040105.jpg */
	background      : transparent url(pokemongo0040105.jpg) no-repeat top left;
	position        : absolute;
	left            : 429.00pt;
	top             : 345.75pt;
	width           : 154.50pt;
	height          :  87.75pt;
	}
span#e176           { /* pokemongo0040104.jpg */
	background      : transparent url(pokemongo0040104.jpg) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             : 423.75pt;
	width           : 251.25pt;
	height          : 263.25pt;
	}
span#e175           { /* pokemongo0040103.gif */
	background      : transparent url(pokemongo0040103.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             : 405.75pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e174            { /* BEGINNERS GUIDE */
	position        : absolute;
	left            : 207.00pt;
	top             : 410.25pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e173           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             : 409.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e172           { /* pokemongo0010127.jpg */
	background      : transparent url(pokemongo0010127.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             : 572.25pt;
	width           : 170.25pt;
	height          :  36.75pt;
	}
span#e171           { /* pokemongo0040101.jpg */
	background      : transparent url(pokemongo0040101.jpg) no-repeat top left;
	position        : absolute;
	left            : 330.00pt;
	top             : 589.50pt;
	width           : 108.75pt;
	height          :  61.50pt;
	}
span#e170           { /* pokemongo0040100.gif */
	background      : transparent url(pokemongo0040100.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             : 425.25pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e169            {
	position        : absolute;
	left            : 186.00pt;
	top             : 426.75pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e168            { /* In this guide we will te... */
	position        : absolute;
	left            : 191.25pt;
	top             : 614.25pt;
	width           : 141.75pt;
	height          :  58.50pt;
	}
span#e167           { /* pokemongo004099.jpg */
	background      : transparent url(pokemongo004099.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             : 458.25pt;
	width           : 251.25pt;
	height          : 284.25pt;
	}
span#e166           { /* pokemongo004098.gif */
	background      : transparent url(pokemongo004098.gif) no-repeat top left;
	position        : absolute;
	left            : 457.50pt;
	top             : 440.25pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e165            { /* POKEMON GO! | With Gloom... */
	position        : absolute;
	left            : 480.00pt;
	top             : 444.75pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e164           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.00pt;
	top             : 444.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e163           { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.75pt;
	top             : 606.75pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e162           { /* pokemongo004096.jpg */
	background      : transparent url(pokemongo004096.jpg) no-repeat top left;
	position        : absolute;
	left            : 638.25pt;
	top             : 609.75pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e161           { /* pokemongo004095.gif */
	background      : transparent url(pokemongo004095.gif) no-repeat top left;
	position        : absolute;
	left            : 459.00pt;
	top             : 459.75pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e160            {
	position        : absolute;
	left            : 459.00pt;
	top             : 461.25pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e159            { /* You guys requested a Pok... */
	position        : absolute;
	left            : 463.50pt;
	top             : 653.25pt;
	width           : 236.25pt;
	height          :  82.50pt;
	}
span#e158           { /* pokemongo004094.jpg */
	background      : transparent url(pokemongo004094.jpg) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             : 713.25pt;
	width           : 251.25pt;
	height          : 228.75pt;
	}
span#e157           { /* pokemongo004093.gif */
	background      : transparent url(pokemongo004093.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             : 695.25pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e156            { /* How To Get The Eevee Evo... */
	position        : absolute;
	left            : 207.00pt;
	top             : 699.75pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e155           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             : 699.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e154           { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             : 861.75pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e153           { /* pokemongo001008.jpg */
	background      : transparent url(pokemongo001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 365.25pt;
	top             : 864.75pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e152           { /* pokemongo004090.gif */
	background      : transparent url(pokemongo004090.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             : 714.75pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e151            {
	position        : absolute;
	left            : 186.00pt;
	top             : 716.25pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e150            { /* JohnnyCanal in this Poke... */
	position        : absolute;
	left            : 190.50pt;
	top             : 908.25pt;
	width           : 236.25pt;
	height          :  33.75pt;
	}
div#e149            { /* HOME */
	position        : absolute;
	left            : 231.00pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e148           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 213.00pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e147            { /* MAP */
	position        : absolute;
	left            : 304.50pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e146           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 286.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e145            { /* CONTACT US */
	position        : absolute;
	left            : 372.75pt;
	top             : 301.50pt;
	width           :  73.50pt;
	height          :  13.50pt;
	}
span#e144           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 354.75pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e143            { /* SHOP */
	position        : absolute;
	left            : 470.25pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e142           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 452.25pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e141            { /* TRAINERS TIPS */
	position        : absolute;
	left            : 535.50pt;
	top             : 301.50pt;
	width           :  77.25pt;
	height          :  12.75pt;
	}
span#e140           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 517.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e139            { /* POKÉDEX */
	position        : absolute;
	left            : 640.50pt;
	top             : 301.50pt;
	width           :  64.50pt;
	height          :  12.75pt;
	}
span#e138           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 622.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e137           { /* pokemongo004083.jpg */
	background      : transparent url(pokemongo004083.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             : 767.25pt;
	width           : 251.25pt;
	height          : 258.00pt;
	}
span#e136           { /* pokemongo004082.gif */
	background      : transparent url(pokemongo004082.gif) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             : 749.25pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e135            { /* LEVEL UP REWARDS AT LEVE... */
	position        : absolute;
	left            : 479.25pt;
	top             : 753.75pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e134           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 461.25pt;
	top             : 753.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e133           { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.00pt;
	top             : 915.75pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e132           { /* pokemongo004080.gif */
	background      : transparent url(pokemongo004080.gif) no-repeat top left;
	position        : absolute;
	left            : 458.25pt;
	top             : 768.75pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e131            {
	position        : absolute;
	left            : 458.25pt;
	top             : 770.25pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e130            { /* In this video JohnnyCana... */
	position        : absolute;
	left            : 462.75pt;
	top             : 962.25pt;
	width           : 236.25pt;
	height          :  54.75pt;
	}
span#e129           { /* pokemongo004079.gif */
	background      : transparent url(pokemongo004079.gif) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             : 965.25pt;
	width           : 251.25pt;
	height          : 238.50pt;
	}
span#e128           { /* pokemongo004078.gif */
	background      : transparent url(pokemongo004078.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             : 947.25pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e127            { /* Pokemon Go Update Is Out */
	position        : absolute;
	left            : 207.00pt;
	top             : 951.75pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e126           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             : 951.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e125           { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             :1113.75pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e124           { /* pokemongo001008.jpg */
	background      : transparent url(pokemongo001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 365.25pt;
	top             :1116.75pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e123           { /* pokemongo004075.gif */
	background      : transparent url(pokemongo004075.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             : 966.75pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e122            {
	position        : absolute;
	left            : 186.00pt;
	top             : 968.25pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e121            { /* The new Pokemon go updat... */
	position        : absolute;
	left            : 190.50pt;
	top             :1160.25pt;
	width           : 236.25pt;
	height          :  33.75pt;
	}
span#e120           { /* pokemongo004074.gif */
	background      : transparent url(pokemongo004074.gif) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             :1047.75pt;
	width           : 251.25pt;
	height          : 248.25pt;
	}
span#e119           { /* pokemongo004073.gif */
	background      : transparent url(pokemongo004073.gif) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             :1029.75pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e118            { /* Preparing for Gym Battle... */
	position        : absolute;
	left            : 479.25pt;
	top             :1034.25pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e117           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 461.25pt;
	top             :1033.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e116           { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.00pt;
	top             :1196.25pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e115           { /* pokemongo001008.jpg */
	background      : transparent url(pokemongo001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 637.50pt;
	top             :1199.25pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e114           { /* pokemongo004070.gif */
	background      : transparent url(pokemongo004070.gif) no-repeat top left;
	position        : absolute;
	left            : 458.25pt;
	top             :1049.25pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e113            {
	position        : absolute;
	left            : 458.25pt;
	top             :1050.75pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e112            { /* JohnnyCanal in this vide... */
	position        : absolute;
	left            : 462.75pt;
	top             :1242.00pt;
	width           : 236.25pt;
	height          :  44.25pt;
	}
span#e111           { /* pokemongo0010154.jpg */
	background      : transparent url(pokemongo0010154.jpg) no-repeat top left;
	position        : absolute;
	left            : 188.25pt;
	top             :1457.25pt;
	width           : 494.25pt;
	height          : 399.00pt;
	}
span#e110           { /* pokemongo004068.gif */
	background      : transparent url(pokemongo004068.gif) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             :1227.00pt;
	width           : 251.25pt;
	height          : 228.75pt;
	}
span#e109           { /* pokemongo004067.gif */
	background      : transparent url(pokemongo004067.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             :1209.00pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e108            { /* R.I.P. VAPOREON! Massive... */
	position        : absolute;
	left            : 207.00pt;
	top             :1213.50pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e107           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             :1212.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e106           { /* pokemongo004065.gif */
	background      : transparent url(pokemongo004065.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             :1228.50pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e105            {
	position        : absolute;
	left            : 186.00pt;
	top             :1230.00pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e104            { /* Awesome video from TmarT... */
	position        : absolute;
	left            : 190.50pt;
	top             :1427.25pt;
	width           : 236.25pt;
	height          :  12.75pt;
	}
span#e103           { /* pokemongo004064.jpg */
	background      : transparent url(pokemongo004064.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             :1320.00pt;
	width           : 251.25pt;
	height          : 234.00pt;
	}
span#e102           { /* pokemongo004063.gif */
	background      : transparent url(pokemongo004063.gif) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             :1302.00pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e101            { /* EVOLVING TO A CHARIZARD ... */
	position        : absolute;
	left            : 479.25pt;
	top             :1306.50pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e100           { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 461.25pt;
	top             :1305.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e99            { /* pokemongo004061.gif */
	background      : transparent url(pokemongo004061.gif) no-repeat top left;
	position        : absolute;
	left            : 458.25pt;
	top             :1321.50pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e98             {
	position        : absolute;
	left            : 458.25pt;
	top             :1323.00pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e97             { /* Another Amazing video fr... */
	position        : absolute;
	left            : 462.75pt;
	top             :1518.00pt;
	width           : 236.25pt;
	height          :  23.25pt;
	}
span#e96            { /* pokemongo004060.jpg */
	background      : transparent url(pokemongo004060.jpg) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             :1479.00pt;
	width           : 251.25pt;
	height          : 252.75pt;
	}
span#e95            { /* pokemongo004059.gif */
	background      : transparent url(pokemongo004059.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             :1461.00pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e94             { /* HOW TO GET A ULTRA BALL ... */
	position        : absolute;
	left            : 207.00pt;
	top             :1465.50pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e93            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             :1464.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e92            { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             :1627.50pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e91            { /* pokemongo004057.jpg */
	background      : transparent url(pokemongo004057.jpg) no-repeat top left;
	position        : absolute;
	left            : 360.00pt;
	top             :1632.00pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e90            { /* pokemongo004056.gif */
	background      : transparent url(pokemongo004056.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             :1480.50pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e89             {
	position        : absolute;
	left            : 186.00pt;
	top             :1482.00pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e88             { /* Pokemon GO App - Today W... */
	position        : absolute;
	left            : 190.50pt;
	top             :1674.00pt;
	width           : 236.25pt;
	height          :  44.25pt;
	}
span#e87            { /* pokemongo004055.jpg */
	background      : transparent url(pokemongo004055.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             :1575.75pt;
	width           : 251.25pt;
	height          : 248.25pt;
	}
span#e86            { /* pokemongo004054.gif */
	background      : transparent url(pokemongo004054.gif) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             :1557.75pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e85             { /* SUPER RARE POKEMON & BEA... */
	position        : absolute;
	left            : 479.25pt;
	top             :1562.25pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e84            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 461.25pt;
	top             :1561.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e83            { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.00pt;
	top             :1724.25pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e82            { /* pokemongo004052.gif */
	background      : transparent url(pokemongo004052.gif) no-repeat top left;
	position        : absolute;
	left            : 458.25pt;
	top             :1577.25pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e81             {
	position        : absolute;
	left            : 458.25pt;
	top             :1578.75pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e80             { /* Pokemon GO Gameplay Of N... */
	position        : absolute;
	left            : 462.75pt;
	top             :1770.00pt;
	width           : 236.25pt;
	height          :  44.25pt;
	}
span#e79            { /* pokemongo004051.jpg */
	background      : transparent url(pokemongo004051.jpg) no-repeat top left;
	position        : absolute;
	left            : 633.00pt;
	top             :1724.25pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e78            { /* pokemongo001055.jpg */
	background      : transparent url(pokemongo001055.jpg) no-repeat top left;
	position        : absolute;
	left            : 186.75pt;
	top             :1377.00pt;
	width           : 192.00pt;
	height          :  42.75pt;
	}
span#e77            { /* pokemongo004050.jpg */
	background      : transparent url(pokemongo004050.jpg) no-repeat top left;
	position        : absolute;
	left            : 363.75pt;
	top             :1380.00pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e76            { /* pokemongo001053.jpg */
	background      : transparent url(pokemongo001053.jpg) no-repeat top left;
	position        : absolute;
	left            : 459.75pt;
	top             :1467.75pt;
	width           : 227.25pt;
	height          :  39.00pt;
	}
span#e75            { /* pokemongo004049.jpg */
	background      : transparent url(pokemongo004049.jpg) no-repeat top left;
	position        : absolute;
	left            : 630.00pt;
	top             :1501.50pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e74            { /* pokemongo004048.gif */
	background      : transparent url(pokemongo004048.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 416.25pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
img#e73             { /* pokemongo001050.jpg */
	position        : absolute;
	left            :  25.50pt;
	top             : 417.75pt;
	width           : 138.75pt;
	height          : 138.75pt;
	}
span#e72            { /* pokemongo004047.gif */
	background      : transparent url(pokemongo004047.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 397.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e71             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 402.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e70            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 401.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e69            { /* pokemongo004045.gif */
	background      : transparent url(pokemongo004045.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 555.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e68             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 560.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e67            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 559.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e66            { /* pokemongo004043.gif */
	background      : transparent url(pokemongo004043.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 277.50pt;
	width           : 144.00pt;
	height          : 113.25pt;
	}
span#e65            { /* pokemongo004042.gif */
	background      : transparent url(pokemongo004042.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 258.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e64             { /* AWESOME POKéMON MAP  */
	position        : absolute;
	left            :  45.00pt;
	top             : 263.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e63            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 262.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e62            { /* pokemongo004040.gif */
	background      : transparent url(pokemongo004040.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 374.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e61             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 378.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e60            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 378.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e59             { /* pokemongo001040.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 279.00pt;
	width           : 141.00pt;
	height          :  96.00pt;
	}
img#e58             { /* pokemongo001039.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 418.50pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
span#e57            { /* pokemongo004036.gif */
	background      : transparent url(pokemongo004036.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 597.75pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e56            { /* pokemongo004035.gif */
	background      : transparent url(pokemongo004035.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 579.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e55             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 583.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e54            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 582.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e53            { /* pokemongo004033.gif */
	background      : transparent url(pokemongo004033.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 737.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e52             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 741.75pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e51            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 741.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e50             { /* pokemongo001033.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 600.00pt;
	width           : 141.75pt;
	height          : 138.00pt;
	}
img#e49             { /* pokemongo004030.gif */
	position        : absolute;
	left            : 735.75pt;
	top             : 201.75pt;
	width           : 144.00pt;
	height          : 245.25pt;
	}
span#e48            { /* pokemongo001031.jpg */
	background      : transparent url(pokemongo001031.jpg) no-repeat top left;
	position        : absolute;
	left            : 737.25pt;
	top             : 203.25pt;
	width           : 141.00pt;
	height          : 250.50pt;
	}
span#e47            { /* pokemongo004029.gif */
	background      : transparent url(pokemongo004029.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :  21.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e46            { /* pokemongo004028.gif */
	background      : transparent url(pokemongo004028.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :   2.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e45             { /* Pokémon Go Jackets */
	position        : absolute;
	left            : 758.25pt;
	top             :   6.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e44            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             :   6.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e43            { /* pokemongo004026.gif */
	background      : transparent url(pokemongo004026.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 160.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e42             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 165.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e41            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 164.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e40            { /* pokemongo004024.gif */
	background      : transparent url(pokemongo004024.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 183.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e39             { /* PLAYERS GUIDE AVAILABLE */
	position        : absolute;
	left            : 758.25pt;
	top             : 187.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e38            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 186.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e37            { /* pokemongo004022.gif */
	background      : transparent url(pokemongo004022.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 444.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e36             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 449.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e35            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 448.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e34             { /* pokemongo001021.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             :  23.25pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
img#e33             { /* pokemongo001020.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             : 204.75pt;
	width           : 141.00pt;
	height          : 240.75pt;
	}
span#e32            { /* pokemongo004018.gif */
	background      : transparent url(pokemongo004018.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 486.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e31            { /* pokemongo004017.gif */
	background      : transparent url(pokemongo004017.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 467.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e30             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            : 759.00pt;
	top             : 471.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e29            { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 471.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e28            { /* pokemongo004015.gif */
	background      : transparent url(pokemongo004015.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 625.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e27             { /* CLICK HERE  */
	position        : absolute;
	left            : 759.00pt;
	top             : 630.00pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e26            { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 629.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e25             { /* pokemongo001014.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 488.25pt;
	width           : 135.00pt;
	height          : 135.00pt;
	}
img#e24             { /* pokemongo001013.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 489.75pt;
	width           : 138.75pt;
	height          : 134.25pt;
	}
span#e23            { /* pokemongo004012.gif */
	background      : transparent url(pokemongo004012.gif) no-repeat top left;
	position        : absolute;
	left            : 135.00pt;
	top             :   3.75pt;
	width           :  33.75pt;
	height          : 249.75pt;
	}
img#e22             { /* pokemongo001012.jpg */
	position        : absolute;
	left            : 137.25pt;
	top             :   6.00pt;
	width           :  29.25pt;
	height          : 245.25pt;
	}
div#e21             {
	position        : absolute;
	left            : 176.25pt;
	top             :   6.75pt;
	width           : 546.00pt;
	height          :  26.25pt;
	}
span#e20            { /* pokemongo004010.jpg */
	background      : transparent url(pokemongo004010.jpg) no-repeat top left;
	position        : absolute;
	left            : 183.75pt;
	top             :1752.75pt;
	width           : 251.25pt;
	height          : 252.75pt;
	}
span#e19            { /* pokemongo004009.gif */
	background      : transparent url(pokemongo004009.gif) no-repeat top left;
	position        : absolute;
	left            : 184.50pt;
	top             :1734.75pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e18             { /* 10 Hidden Pokemon Go SEC... */
	position        : absolute;
	left            : 207.00pt;
	top             :1739.25pt;
	width           : 195.00pt;
	height          :  13.50pt;
	}
span#e17            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.00pt;
	top             :1738.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e16            { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 189.75pt;
	top             :1901.25pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e15            { /* pokemongo001008.jpg */
	background      : transparent url(pokemongo001008.jpg) no-repeat top left;
	position        : absolute;
	left            : 365.25pt;
	top             :1904.25pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
span#e14            { /* pokemongo004006.gif */
	background      : transparent url(pokemongo004006.gif) no-repeat top left;
	position        : absolute;
	left            : 186.00pt;
	top             :1754.25pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e13             {
	position        : absolute;
	left            : 186.00pt;
	top             :1755.75pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#e12             { /* 10 Hidden Pokemon Go SEC... */
	position        : absolute;
	left            : 190.50pt;
	top             :1947.75pt;
	width           : 236.25pt;
	height          :  34.50pt;
	}
div#e11             {
	position        : absolute;
	left            : 348.75pt;
	top             :1986.00pt;
	width           :  81.00pt;
	height          :  12.75pt;
	}
span#e10            { /* pokemongo004005.jpg */
	background      : transparent url(pokemongo004005.jpg) no-repeat top left;
	position        : absolute;
	left            : 456.00pt;
	top             :1846.50pt;
	width           : 251.25pt;
	height          : 252.75pt;
	}
span#e9             { /* pokemongo004004.gif */
	background      : transparent url(pokemongo004004.gif) no-repeat top left;
	position        : absolute;
	left            : 456.75pt;
	top             :1828.50pt;
	width           : 250.50pt;
	height          :  21.00pt;
	}
div#e8              { /* Top 20 RAREST & SECRET */
	position        : absolute;
	left            : 479.25pt;
	top             :1833.00pt;
	width           : 195.00pt;
	height          :  12.75pt;
	}
span#e7             { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 461.25pt;
	top             :1832.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e6             { /* pokemongo001003.jpg */
	background      : transparent url(pokemongo001003.jpg) no-repeat top left;
	position        : absolute;
	left            : 462.00pt;
	top             :1995.00pt;
	width           : 188.25pt;
	height          :  40.50pt;
	}
span#e5             { /* pokemongo001002.jpg */
	background      : transparent url(pokemongo001002.jpg) no-repeat top left;
	position        : absolute;
	left            : 637.50pt;
	top             :1993.50pt;
	width           :  77.25pt;
	height          :  44.25pt;
	}
div#e4              { /* So you’re spending your ... */
	position        : absolute;
	left            : 462.75pt;
	top             :2036.25pt;
	width           : 236.25pt;
	height          :  54.75pt;
	}
div#e3              {
	position        : absolute;
	left            : 621.00pt;
	top             :2079.75pt;
	width           :  81.00pt;
	height          :  12.75pt;
	}
span#e2             { /* pokemongo004001.gif */
	background      : transparent url(pokemongo004001.gif) no-repeat top left;
	position        : absolute;
	left            : 457.50pt;
	top             :1848.00pt;
	width           : 248.25pt;
	height          : 143.25pt;
	}
div#e1              {
	position        : absolute;
	left            : 457.50pt;
	top             :1849.50pt;
	width           : 240.00pt;
	height          : 139.50pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          :2250.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(background_new_-_n3ds_pokemonsupermysterydungeon_mainillustration_png_jpgcopy.0.0_-_copy_-_copy.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
