/*--- Avanquest WebEasy Page Style ---*/


.cc58               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc59               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc60               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc61               { /* Common */
	border          :   0.00pt none #ececec;
	}
.cc62               { /* Common */
	font            : bold 9pt 'Calibri';
	color           : #000000;
	}
.cc63               { /* Common */
	clip            : rect(0.00pt,12.75pt,12.75pt,0.00pt);
	}
.cc64               { /* Common */
	border          :   1.50pt solid #000000;
	}
.cc65               { /* Common */
	font            : 9pt 'Calibri';
	color           : #000000;
	}
span#e91            { /* pokemongo009057.gif */
	background      : transparent url(pokemongo009057.gif) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             : 312.00pt;
	width           : 558.75pt;
	height          : 391.50pt;
	}
span#e90            { /* pokemongo009056.jpg */
	background      : transparent url(pokemongo009056.jpg) no-repeat top left;
	position        : absolute;
	left            : 317.25pt;
	top             : 348.00pt;
	width           : 408.75pt;
	height          : 330.00pt;
	}
span#e89            { /* pokemongo009055.gif */
	background      : transparent url(pokemongo009055.gif) no-repeat top left;
	position        : absolute;
	left            : 174.00pt;
	top             :   5.25pt;
	width           : 552.75pt;
	height          : 299.25pt;
	}
span#e88            { /* pokemongo002056.jpg */
	background      : transparent url(pokemongo002056.jpg) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             :   1.50pt;
	width           : 553.50pt;
	height          : 297.75pt;
	}
span#e87            { /* pokemongo0010148.jpg */
	background      : transparent url(pokemongo0010148.jpg) no-repeat top left;
	position        : absolute;
	left            : 272.25pt;
	top             :  46.50pt;
	width           : 357.75pt;
	height          : 201.75pt;
	}
span#e86            { /* pokemongo009052.gif */
	background      : transparent url(pokemongo009052.gif) no-repeat top left;
	position        : absolute;
	left            : 194.25pt;
	top             : 293.25pt;
	width           : 509.25pt;
	height          :  28.50pt;
	}
span#e85            { /* pokemongo0010118.jpg */
	background      : transparent url(pokemongo0010118.jpg) no-repeat top left;
	position        : absolute;
	left            : 473.25pt;
	top             : 196.50pt;
	width           : 102.75pt;
	height          :  65.25pt;
	}
div#e84             { /* HOME */
	position        : absolute;
	left            : 231.00pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e83            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 213.00pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e82             { /* MAP */
	position        : absolute;
	left            : 304.50pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e81            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 286.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e80             { /* CONTACT US */
	position        : absolute;
	left            : 372.75pt;
	top             : 301.50pt;
	width           :  73.50pt;
	height          :  13.50pt;
	}
span#e79            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 354.75pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e78             { /* SHOP */
	position        : absolute;
	left            : 470.25pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e77            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 452.25pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e76             { /* TRAINERS TIPS */
	position        : absolute;
	left            : 535.50pt;
	top             : 301.50pt;
	width           :  77.25pt;
	height          :  12.75pt;
	}
span#e75            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 517.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e74             { /* POKÉDEX */
	position        : absolute;
	left            : 640.50pt;
	top             : 301.50pt;
	width           :  64.50pt;
	height          :  12.75pt;
	}
span#e73            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 622.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e72            { /* pokemongo009044.gif */
	background      : transparent url(pokemongo009044.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 416.25pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
img#e71             { /* pokemongo001050.jpg */
	position        : absolute;
	left            :  25.50pt;
	top             : 417.75pt;
	width           : 138.75pt;
	height          : 138.75pt;
	}
span#e70            { /* pokemongo009043.gif */
	background      : transparent url(pokemongo009043.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 397.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e69             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 402.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e68            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 401.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e67            { /* pokemongo009041.gif */
	background      : transparent url(pokemongo009041.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 555.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e66             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 560.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e65            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 559.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e64            { /* pokemongo009039.gif */
	background      : transparent url(pokemongo009039.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 277.50pt;
	width           : 144.00pt;
	height          : 113.25pt;
	}
span#e63            { /* pokemongo009038.gif */
	background      : transparent url(pokemongo009038.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 258.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e62             { /* AWESOME POKéMON MAP  */
	position        : absolute;
	left            :  45.00pt;
	top             : 263.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e61            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 262.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e60            { /* pokemongo009036.gif */
	background      : transparent url(pokemongo009036.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 374.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e59             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 378.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e58            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 378.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e57             { /* pokemongo001040.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 279.00pt;
	width           : 141.00pt;
	height          :  96.00pt;
	}
img#e56             { /* pokemongo001039.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 418.50pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
span#e55            { /* pokemongo009032.gif */
	background      : transparent url(pokemongo009032.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 597.75pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e54            { /* pokemongo009031.gif */
	background      : transparent url(pokemongo009031.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 579.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e53             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 583.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e52            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 582.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e51            { /* pokemongo009029.gif */
	background      : transparent url(pokemongo009029.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 737.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e50             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 741.75pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e49            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 741.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e48             { /* pokemongo001033.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 600.00pt;
	width           : 141.75pt;
	height          : 138.00pt;
	}
img#e47             { /* pokemongo009026.gif */
	position        : absolute;
	left            : 735.75pt;
	top             : 201.75pt;
	width           : 144.00pt;
	height          : 245.25pt;
	}
span#e46            { /* pokemongo001031.jpg */
	background      : transparent url(pokemongo001031.jpg) no-repeat top left;
	position        : absolute;
	left            : 737.25pt;
	top             : 203.25pt;
	width           : 141.00pt;
	height          : 250.50pt;
	}
span#e45            { /* pokemongo009025.gif */
	background      : transparent url(pokemongo009025.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :  21.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e44            { /* pokemongo009024.gif */
	background      : transparent url(pokemongo009024.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :   2.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e43             { /* Pokémon Go Jackets */
	position        : absolute;
	left            : 758.25pt;
	top             :   6.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e42            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             :   6.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e41            { /* pokemongo009022.gif */
	background      : transparent url(pokemongo009022.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 160.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e40             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 165.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e39            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 164.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e38            { /* pokemongo009020.gif */
	background      : transparent url(pokemongo009020.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 183.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e37             { /* PLAYERS GUIDE AVAILABLE */
	position        : absolute;
	left            : 758.25pt;
	top             : 187.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e36            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 186.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e35            { /* pokemongo009018.gif */
	background      : transparent url(pokemongo009018.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 444.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e34             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 449.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e33            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 448.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e32             { /* pokemongo001021.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             :  23.25pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
img#e31             { /* pokemongo001020.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             : 204.75pt;
	width           : 141.00pt;
	height          : 240.75pt;
	}
span#e30            { /* pokemongo009014.gif */
	background      : transparent url(pokemongo009014.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 486.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e29            { /* pokemongo009013.gif */
	background      : transparent url(pokemongo009013.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 467.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e28             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            : 759.00pt;
	top             : 471.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e27            { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 471.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e26            { /* pokemongo009011.gif */
	background      : transparent url(pokemongo009011.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 625.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e25             { /* CLICK HERE  */
	position        : absolute;
	left            : 759.00pt;
	top             : 630.00pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e24            { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 629.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e23             { /* pokemongo001014.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 488.25pt;
	width           : 135.00pt;
	height          : 135.00pt;
	}
img#e22             { /* pokemongo001013.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 489.75pt;
	width           : 138.75pt;
	height          : 134.25pt;
	}
span#e21            { /* pokemongo006041.jpg */
	background      : transparent url(pokemongo006041.jpg) no-repeat top left;
	position        : absolute;
	left            : 187.50pt;
	top             : 324.00pt;
	width           : 113.25pt;
	height          :  75.75pt;
	}
span#e20            { /* pokemongo006040.jpg */
	background      : transparent url(pokemongo006040.jpg) no-repeat top left;
	position        : absolute;
	left            : 198.00pt;
	top             : 362.25pt;
	width           :  93.00pt;
	height          :  52.50pt;
	}
img#e19             { /* pokemongo009007.jpg */
	position        : absolute;
	left            : 261.75pt;
	top             : 382.50pt;
	width           :  86.25pt;
	height          :  16.50pt;
	}
img#e18             { /* pokemongo007055.jpg */
	position        : absolute;
	left            : 634.50pt;
	top             : 327.00pt;
	width           :  81.75pt;
	height          :  28.50pt;
	}
img#e17             { /* pokemongo007054.jpg */
	position        : absolute;
	left            : 475.50pt;
	top             : 327.00pt;
	width           : 154.50pt;
	height          :  28.50pt;
	}
img#e16             { /* pokemongo007053.jpg */
	position        : absolute;
	left            : 384.75pt;
	top             : 327.00pt;
	width           :  86.25pt;
	height          :  28.50pt;
	}
span#e15            { /* pokemongo009006.gif */
	background      : transparent url(pokemongo009006.gif) no-repeat top left;
	position        : absolute;
	left            : 576.00pt;
	top             : 363.00pt;
	width           : 143.25pt;
	height          :  21.00pt;
	}
div#e14             { /* View Cart: */
	position        : absolute;
	left            : 597.00pt;
	top             : 367.50pt;
	width           :  51.75pt;
	height          :  12.75pt;
	}
span#e13            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 580.50pt;
	top             : 366.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e12             {
	position        : absolute;
	left            : 652.50pt;
	top             : 365.25pt;
	width           :  62.25pt;
	height          :  17.25pt;
	}
div#e11             {
	position        : absolute;
	left            : 177.75pt;
	top             : 426.00pt;
	width           : 361.50pt;
	height          : 225.00pt;
	}
span#e10            { /* pokemongo007042.jpg */
	background      : transparent url(pokemongo007042.jpg) no-repeat top left;
	position        : absolute;
	left            : 231.75pt;
	top             : 631.50pt;
	width           : 303.75pt;
	height          :  18.75pt;
	}
span#e9             { /* pokemongo009004.gif */
	background      : transparent url(pokemongo009004.gif) no-repeat top left;
	position        : absolute;
	left            : 548.25pt;
	top             : 426.00pt;
	width           : 172.50pt;
	height          :  21.00pt;
	}
div#e8              { /* TRAINING BOOK! */
	position        : absolute;
	left            : 570.75pt;
	top             : 430.50pt;
	width           : 147.75pt;
	height          :  12.75pt;
	}
span#e7             { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 552.75pt;
	top             : 429.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e6              {
	position        : absolute;
	left            : 547.50pt;
	top             : 450.75pt;
	width           : 171.00pt;
	height          :  33.75pt;
	}
span#e5             { /* pokemongo007039.jpg */
	background      : transparent url(pokemongo007039.jpg) no-repeat top left;
	position        : absolute;
	left            : 546.75pt;
	top             : 546.75pt;
	width           : 120.00pt;
	height          :  33.75pt;
	}
div#e4              { /* Fantastic Pokémon Manual... */
	position        : absolute;
	left            : 547.50pt;
	top             : 495.00pt;
	width           : 171.75pt;
	height          :  44.25pt;
	}
span#e3             { /* pokemongo009002.gif */
	background      : transparent url(pokemongo009002.gif) no-repeat top left;
	position        : absolute;
	left            : 135.00pt;
	top             :   3.75pt;
	width           :  33.75pt;
	height          : 249.75pt;
	}
img#e2              { /* pokemongo001012.jpg */
	position        : absolute;
	left            : 137.25pt;
	top             :   6.00pt;
	width           :  29.25pt;
	height          : 245.25pt;
	}
div#e1              {
	position        : absolute;
	left            : 176.25pt;
	top             :   6.75pt;
	width           : 546.00pt;
	height          :  26.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          : 900.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(background_new_-_n3ds_pokemonsupermysterydungeon_mainillustration_png_jpgcopy.0.0_-_copy_-_copy.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
