/*--- Avanquest WebEasy Page Style ---*/


.cc30               { /* Common */
	border          :   0.00pt none #000000;
	}
.cc31               { /* Common */
	border          :   0.00pt none #ffffff;
	}
.cc32               { /* Common */
	border          :   3.00pt solid #000000;
	}
.cc33               { /* Common */
	border          :   0.00pt none #ececec;
	}
.cc34               { /* Common */
	font            : bold 9pt 'Calibri';
	color           : #000000;
	}
.cc35               { /* Common */
	clip            : rect(0.00pt,12.75pt,12.75pt,0.00pt);
	}
span#e73            { /* pokemongo005050.gif */
	background      : transparent url(pokemongo005050.gif) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             : 312.00pt;
	width           : 558.75pt;
	height          :1546.50pt;
	}
span#e72            { /* pokemongo005049.gif */
	background      : transparent url(pokemongo005049.gif) no-repeat top left;
	position        : absolute;
	left            : 174.00pt;
	top             :   5.25pt;
	width           : 552.75pt;
	height          : 299.25pt;
	}
span#e71            { /* pokemongo002056.jpg */
	background      : transparent url(pokemongo002056.jpg) no-repeat top left;
	position        : absolute;
	left            : 170.25pt;
	top             :   1.50pt;
	width           : 553.50pt;
	height          : 297.75pt;
	}
span#e70            { /* pokemongo0010148.jpg */
	background      : transparent url(pokemongo0010148.jpg) no-repeat top left;
	position        : absolute;
	left            : 272.25pt;
	top             :  46.50pt;
	width           : 357.75pt;
	height          : 201.75pt;
	}
span#e69            { /* pokemongo005046.gif */
	background      : transparent url(pokemongo005046.gif) no-repeat top left;
	position        : absolute;
	left            : 194.25pt;
	top             : 293.25pt;
	width           : 509.25pt;
	height          :  28.50pt;
	}
span#e68            { /* pokemongo0010118.jpg */
	background      : transparent url(pokemongo0010118.jpg) no-repeat top left;
	position        : absolute;
	left            : 473.25pt;
	top             : 196.50pt;
	width           : 102.75pt;
	height          :  65.25pt;
	}
div#e67             { /* HOME */
	position        : absolute;
	left            : 231.00pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e66            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 213.00pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e65             { /* MAP */
	position        : absolute;
	left            : 304.50pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e64            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 286.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e63             { /* CONTACT US */
	position        : absolute;
	left            : 372.75pt;
	top             : 301.50pt;
	width           :  73.50pt;
	height          :  13.50pt;
	}
span#e62            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 354.75pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e61             { /* SHOP */
	position        : absolute;
	left            : 470.25pt;
	top             : 301.50pt;
	width           :  33.00pt;
	height          :  12.75pt;
	}
span#e60            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 452.25pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e59             { /* TRAINERS TIPS */
	position        : absolute;
	left            : 535.50pt;
	top             : 301.50pt;
	width           :  77.25pt;
	height          :  12.75pt;
	}
span#e58            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 517.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e57             { /* POKÉDEX */
	position        : absolute;
	left            : 640.50pt;
	top             : 301.50pt;
	width           :  64.50pt;
	height          :  12.75pt;
	}
span#e56            { /* pokemongo001004.jpg */
	background      : transparent url(pokemongo001004.jpg) no-repeat top left;
	position        : absolute;
	left            : 622.50pt;
	top             : 300.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
div#e55             {
	position        : absolute;
	left            : 177.00pt;
	top             : 326.25pt;
	width           : 538.50pt;
	height          : 403.50pt;
	}
span#e54            { /* pokemongo005038.gif */
	background      : transparent url(pokemongo005038.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 416.25pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
img#e53             { /* pokemongo001050.jpg */
	position        : absolute;
	left            :  25.50pt;
	top             : 417.75pt;
	width           : 138.75pt;
	height          : 138.75pt;
	}
span#e52            { /* pokemongo005037.gif */
	background      : transparent url(pokemongo005037.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 397.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e51             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 402.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e50            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 401.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e49            { /* pokemongo005035.gif */
	background      : transparent url(pokemongo005035.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 555.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e48             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 560.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e47            { /* pokemongo001046.jpg */
	background      : transparent url(pokemongo001046.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 559.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e46            { /* pokemongo005033.gif */
	background      : transparent url(pokemongo005033.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 277.50pt;
	width           : 144.00pt;
	height          : 113.25pt;
	}
span#e45            { /* pokemongo005032.gif */
	background      : transparent url(pokemongo005032.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 258.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e44             { /* AWESOME POKéMON MAP  */
	position        : absolute;
	left            :  45.00pt;
	top             : 263.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e43            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 262.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e42            { /* pokemongo005030.gif */
	background      : transparent url(pokemongo005030.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 374.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e41             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 378.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e40            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 378.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e39             { /* pokemongo001040.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 279.00pt;
	width           : 141.00pt;
	height          :  96.00pt;
	}
img#e38             { /* pokemongo001039.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 418.50pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
span#e37            { /* pokemongo005026.gif */
	background      : transparent url(pokemongo005026.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 597.75pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e36            { /* pokemongo005025.gif */
	background      : transparent url(pokemongo005025.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 579.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e35             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            :  45.00pt;
	top             : 583.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e34            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 582.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e33            { /* pokemongo005023.gif */
	background      : transparent url(pokemongo005023.gif) no-repeat top left;
	position        : absolute;
	left            :  22.50pt;
	top             : 737.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e32             { /* CLICK HERE  */
	position        : absolute;
	left            :  45.00pt;
	top             : 741.75pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e31            { /* pokemongo001034.jpg */
	background      : transparent url(pokemongo001034.jpg) no-repeat top left;
	position        : absolute;
	left            :  27.00pt;
	top             : 741.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e30             { /* pokemongo001033.jpg */
	position        : absolute;
	left            :  24.00pt;
	top             : 600.00pt;
	width           : 141.75pt;
	height          : 138.00pt;
	}
img#e29             { /* pokemongo005020.gif */
	position        : absolute;
	left            : 735.75pt;
	top             : 201.75pt;
	width           : 144.00pt;
	height          : 245.25pt;
	}
span#e28            { /* pokemongo001031.jpg */
	background      : transparent url(pokemongo001031.jpg) no-repeat top left;
	position        : absolute;
	left            : 737.25pt;
	top             : 203.25pt;
	width           : 141.00pt;
	height          : 250.50pt;
	}
span#e27            { /* pokemongo005019.gif */
	background      : transparent url(pokemongo005019.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :  21.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e26            { /* pokemongo005018.gif */
	background      : transparent url(pokemongo005018.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             :   2.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e25             { /* Pokémon Go Jackets */
	position        : absolute;
	left            : 758.25pt;
	top             :   6.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e24            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             :   6.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e23            { /* pokemongo005016.gif */
	background      : transparent url(pokemongo005016.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 160.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e22             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 165.00pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e21            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 164.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e20            { /* pokemongo005014.gif */
	background      : transparent url(pokemongo005014.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 183.00pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e19             { /* PLAYERS GUIDE AVAILABLE */
	position        : absolute;
	left            : 758.25pt;
	top             : 187.50pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e18            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 186.75pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e17            { /* pokemongo005012.gif */
	background      : transparent url(pokemongo005012.gif) no-repeat top left;
	position        : absolute;
	left            : 735.75pt;
	top             : 444.75pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e16             { /* CLICK HERE  */
	position        : absolute;
	left            : 758.25pt;
	top             : 449.25pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e15            { /* pokemongo001022.jpg */
	background      : transparent url(pokemongo001022.jpg) no-repeat top left;
	position        : absolute;
	left            : 740.25pt;
	top             : 448.50pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e14             { /* pokemongo001021.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             :  23.25pt;
	width           : 141.00pt;
	height          : 138.00pt;
	}
img#e13             { /* pokemongo001020.jpg */
	position        : absolute;
	left            : 737.25pt;
	top             : 204.75pt;
	width           : 141.00pt;
	height          : 240.75pt;
	}
span#e12            { /* pokemongo005008.gif */
	background      : transparent url(pokemongo005008.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 486.00pt;
	width           : 144.00pt;
	height          : 157.50pt;
	}
span#e11            { /* pokemongo005007.gif */
	background      : transparent url(pokemongo005007.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 467.25pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e10             { /* BUY OUR CUSTOM T-SHIRTS  */
	position        : absolute;
	left            : 759.00pt;
	top             : 471.75pt;
	width           : 113.25pt;
	height          :  12.75pt;
	}
span#e9             { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 471.00pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
span#e8             { /* pokemongo005005.gif */
	background      : transparent url(pokemongo005005.gif) no-repeat top left;
	position        : absolute;
	left            : 736.50pt;
	top             : 625.50pt;
	width           : 144.00pt;
	height          :  21.00pt;
	}
div#e7              { /* CLICK HERE  */
	position        : absolute;
	left            : 759.00pt;
	top             : 630.00pt;
	width           : 113.25pt;
	height          :  13.50pt;
	}
span#e6             { /* pokemongo001015.jpg */
	background      : transparent url(pokemongo001015.jpg) no-repeat top left;
	position        : absolute;
	left            : 741.00pt;
	top             : 629.25pt;
	width           :  12.75pt;
	height          :  12.75pt;
	}
img#e5              { /* pokemongo001014.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 488.25pt;
	width           : 135.00pt;
	height          : 135.00pt;
	}
img#e4              { /* pokemongo001013.jpg */
	position        : absolute;
	left            : 738.75pt;
	top             : 489.75pt;
	width           : 138.75pt;
	height          : 134.25pt;
	}
span#e3             { /* pokemongo005002.gif */
	background      : transparent url(pokemongo005002.gif) no-repeat top left;
	position        : absolute;
	left            : 135.00pt;
	top             :   3.75pt;
	width           :  33.75pt;
	height          : 249.75pt;
	}
img#e2              { /* pokemongo001012.jpg */
	position        : absolute;
	left            : 137.25pt;
	top             :   6.00pt;
	width           :  29.25pt;
	height          : 245.25pt;
	}
div#e1              {
	position        : absolute;
	left            : 176.25pt;
	top             :   6.75pt;
	width           : 546.00pt;
	height          :  26.25pt;
	}
div#page            { /* Page Holder */
	background-color: transparent;
	position        : relative;
	width           : 900.00pt;
	height          :1875.00pt;
	text-align      : left;
	margin-left     : auto;
	margin-right    : auto;
	}
body                { /* Page Body */
	background-color: #ffffff;
	background-image: url(background_new_-_n3ds_pokemonsupermysterydungeon_mainillustration_png_jpgcopy.0.0_-_copy_-_copy.jpg);
	text-align      : center;
	}



/*--- EndOfFile ---*/
